.container {
    display: flex;
    justify-content: space-between;
}

.info_section {
    margin: auto;
    margin-top: 0;
    padding-left: 50px;
    color: black;
}

.title {
    font-size: 24px;
    font-weight: 700;
}

.location, .telephone, .email {
    margin: 5px 0px;
}

.location {
    margin-top: 40px;
}

.info_title {
    font-weight: 700;
    font-size: 20px;
    color: #5201FF;
}

.info {
    font-size: 20px;
    font-weight: 400;
}

.map_section {
    margin: auto;
    padding-right: 30px;
}

.map {
    width: 608px;
    height: 231px;
    border: 0;
}

@media screen and (max-width: 750px) {
    .container {
        flex-direction: column;
    }

    .info_section {
        padding: 0px;
        padding-left: 20px;
    }

    .map_section {
        margin-top: 50px;
        padding: 0px;
    }

    .map, .info_section {
        width: 500px;
    }
}

@media screen and (max-width: 520px) {
    .map, .info_section {
        width: 380px;
    }
}