.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left_arrow {
    background: #E5E5E5;
    font-size: 16px;
    width: 50px;
    height: 270px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    text-align: right;

    svg {
        margin-top: 130px;
    }
}

.right_arrow {
    background: #E5E5E5;
    font-size: 16px;
    width: 50px;
    height: 270px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    text-align: left;

    svg {
        margin-top: 130px;
    }
}

.carousel {
    height: 270px;
    background: #E5E5E5;
    text-align: center;
    width: 1000px;
}

.carousel_title {
    font-size: 22px;
    font-style: italic;
    margin-top: 20px;
}

.position_section {
    display: flex;
}

.position_left {
    margin: auto;
    margin-top: 45px;
    margin-right: 35px;
    width: 423px;
    text-align: left;
}

.position_right {
    margin: auto;
    margin-top: 45px;
    margin-left: 35px;
    width: 423px;
    text-align: left;
}

.position_left_title {
    font-size: 18px;
    font-weight: 500;
    color: #5201FF;
}

.position_left_info {
    font-size: 16px;
    color: #6B7280;
}

.position_right_title {
    font-size: 18px;
    font-weight: 500;
    color: #5201FF;
}

.position_right_info {
    font-size: 16px;
    color: #6B7280;
}

@media screen and (max-width: 1150px) {
    .carousel {
        width: 900px;
    }

    .left_arrow, .right_arrow {
        width: 25px;
    }

    .position_left {
        margin-right: 15px;
    }

    .position_right {
        margin-left: 15px;
    }
}

@media screen and (max-width: 970px) {
    .carousel {
        width: 470px;
        height: 450px;
    }

    .left_arrow, .right_arrow {
        width: 50px;
        height: 450px;
        text-align: center;

        svg {
            margin-top: 215px;
        }
    }

    .position_section {
        flex-direction: column;
    }

    .position_left {
        margin: auto;
        margin-top: 45px;
    }
    
    .position_right {
        margin: auto;
        margin-top: 20px;
    }
}

@media screen and (max-width: 600px) {
    .carousel {
        width: 320px;
        height: 550px;
    }

    .left_arrow, .right_arrow {
        width: 35px;
        height: 550px;

        svg {
            margin-top: 290px;
        }
    }

    .left_arrow {
        text-align: right;
    }

    .right_arrow {
        text-align: left;
    }

    .position_left, .position_right {
        width: 270px;
    }
}